<% layout("layouts/boilerplate") %>
    <div class="row justify-content-center mt-4">
        <div class="col-10 col-md-8 col-lg-6">
            <h2 class="mb-2">Show Details</h2>
            <div class="show-card">
                <img src="<%= listing.image.url%>" class="card-img-top" alt="listing image">
                <div class="card-body">
                    <h3>
                        <%= listing.title %>
                    </h3>
                    <p class="description">
                        <%= listing.description %>
                    </p>
                    <p class="price">
                        &#8377; <%= listing.price?.toLocaleString("en-IN") %>/night
                    </p>
                    <p class="location">
                        <%= listing.location %>
                    </p>
                    <p class="country">
                        <%= listing.country %>
                    </p>
                </div>
            </div>
            <div class="btn-container">
                <a href="/listings/<%= listing._id %>/edit" style="text-decoration: none;">
                    <button class="btn btn-secondary" style="text-decoration: none;">Edit</button>
                </a>
                <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                    <button class="btn btn-danger" style="text-decoration: none;">Delete</button>
                </form>
            </div>