<% layout("layouts/boilerplate") %>

    <h1>Show page</h1>
    <h3>
        <%= listing.title %>
    </h3>
    <p>
        <%= listing.description %>
    </p>
    <p>
        <%= listing.price %>
    </p>
    <p>
        <%= listing.location %>
    </p>
    <p>
        <%= listing.country %>
    </p>
    <br>
    <a href="/listings/<%= listing._id %>/edit">Edit</a>
    <br>